.logo {
    font-family: 'Raleway';

    @include fonts(700, 26px, 1.19, 0.02em);

    color: var(--accent-color);
}

.logo__dark {
    color: #000000;
}

.logo__white {
    color: var(--white-color);
}