body {
    font-family: 'Roboto', sans-serif;

    color: var(--main-color);
    background-color: var(--white-color);
}

.section-title {
    margin-bottom: 50px;

    @include fonts(700, 36px, 1.16);
    text-align: center;

    color: var(--main-color);
}

.net {
    flex-basis: calc(100% / var(--item) - var(--space));
    margin: calc(var(--space) / 2);
}