body {
    font-family: 'Roboto', sans-serif;

    color: var(--main-color);
    background-color: var(--white-color);
}

.section-title {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }

    @include fonts (700, 28px, 1.17);
    text-align: center;

    @media screen and (min-width: 1200px) {
        @include fonts(700, 36px, 1.16);
    }

    color: var(--main-color);
}

.net {
    flex-basis: calc(100% / var(--item) - var(--space));
    margin: calc(var(--space) / 2);
}

.no-scroll {
    overflow: hidden;
}

