.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.address {
    margin-top: 20px;

    @include fonts(none, 14px, 1.71, none);
    font-style: normal;

    color: var(--white-color);
}

.footer__list {
    margin-top: 9px;
    width: 231px;
}

.footer__item:not(:first-child) {
    margin-top: 9px;
}

.footer__contact {
    font-size: 14px;
    line-height: 1.71;

    color: rgba(255, 255, 255, 0.6);

    transition: color var(--transition-time) var(--cubic-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}