:root {
    --main-color: #212121;
    --second-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --main-title-color: #ffffff;
    --transition-time: 250ms;
    --cubic-func: cubic-bezier(0.4, 0, 0.2, 1);

    --item: 3;
    --space: 30px;
}